# 음성 데이터 및 전처리 이미지 (구글 드라이브에서 처리)
audio_samples/
spectrograms/

# 모델 디렉토리도 제외 (학습 결과만 필요시 직접 추가)
#models/

# 가상환경
venv/
.venv/

# Python 캐시
__pycache__/
*.pyc

# 모델 및 로그 (tflite 수동 업로드)
*.h5
*.tflite  
*.log

# Jupyter 노트북 캐시
.ipynb_checkpoints/

# 시스템 파일
.DS_Store
Thumbs.db

# 커밋용 Colab 노트북 (개인 토큰 포함 가능성)
push_to_github.ipynb

